@use "../utils/mixin" as m;

.forecast {
    position: relative;
    margin-top: 56px;
    display: flex;
    gap: 24px;
    padding: 0 50px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__item-hour {
        opacity: 0.6;
    }

    &__item-img {
        width: 60px;
        height: auto;
    }

    &__item-temp {
        font-weight: 600;
    }

    &__slider {
        width: 100%;
    }

    &__slider-slide {
        width: fit-content;
    }

    &__btn {
        width: 28px;
        height: auto;
        aspect-ratio: 1;
        background-color: var(--arrow-bg);
        border-radius: 50%;
        color: var(--icon-light);
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s ease;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

        @include m.hover {
            &:hover {
                background-color: var(--arrow-bg-hover);
            }
        }
    }
}

@include m.tablet-s {
    .forecast {
        margin-top: 32px;
        padding: 0 24px;

        &__btn {
            &--next {
                right: -8px;
            }

            &--prev {
                left: -8px;
            }
        }
    }
}