<section class="main">
    <div class="main__bg img">
        <img class="img__img"
            src="img/main/bg.jpg"
            alt="background">
    </div>
    <div class="main__window main__window--message">
        <form action=""
            class="form">
            <div class="form__wrapper">
                <input type="search"
                    name="search"
                    id="search"
                    placeholder="Search.."
                    class="form__search-input">
                <div class="form__submit-wrapper">
                    <input type="submit"
                        id="submit"
                        class="form__submit-input visually-hidden"
                        value="Search">
                    <label for="submit"
                        class="form__submit-label"></label>
                </div>
            </div>
        </form>
        <div class="main__content main__content--message">
            <p>To display the weather forecast of your location, you need to give permission to access your location</p>
            <p>You can also manually enter your locality in the text field above</p>
            <!-- <img src="/icons/loader.svg"
                class="loader"></img>
            <span>data is loading</span> -->
        </div>
    </div>
</section>