<section class="main">
    <div class="main__bg img">
        <img class="img__img"
            src="img/main/bg.jpg"
            alt="background">
    </div>
    <div class="main__window">
        <form action=""
            class="form">
            <div class="form__wrapper">
                <input type="search"
                    name="search"
                    id="search"
                    placeholder="Search.."
                    class="form__search-input">
                <div class="form__submit-wrapper">
                    <input type="submit"
                        id="submit"
                        class="form__submit-input visually-hidden"
                        value="Search">
                    <label for="submit"
                        class="form__submit-label"></label>
                </div>
            </div>
        </form>
        <h1 class="title main__title">Weather in Hyderabad</h1>
        <span class="main__temperature">26 &deg;C</span>
        <span class="main__descr main__descr--cloudy">Cloudy</span>
        <span class="main__humidity">Humidity: 45%</span>
        <span class="main__wind">Wind Speed: 3.4 km/hr</span>
    </div>
</section>