@use "../utils/mixin" as m;

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-image: url("/img/main/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;

    scrollbar-width: thin;

    &__window {
        position: relative;
        top: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-opacity);
        padding: 53px 70px;
        min-height: 583px;
        max-width: 760px;
        width: 100%;
        border-radius: var(--br-m);
        font-weight: 500;

        &--message {
            min-height: 357px;
        }
    }

    &__title {
        margin-top: 42px;
    }

    &__temperature {
        margin-top: 19px;
        font-size: 50px;
        font-weight: 800;
        line-height: normal;
    }

    &__descr {
        --icon-src: "";

        margin-top: 8px;
        display: inline-flex;
        align-items: center;
        gap: 10px;

        &::before {
            content: '';
            width: 35px;
            aspect-ratio: 1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: var(--icon-light);
            background-image: (var(--icon-src));
            border-radius: 50%;
        }
    }

    &__humidity {
        margin-top: 8px;
    }

    &__content {
        display: flex;
        flex-direction: column;

        &--message {
            margin-top: 95px;
            text-align: center;
            font-weight: 600;
            gap: 24px;
        }
    }
}

@include m.tablet-s {
    .main {
        padding: 16px;

        &__window {
            padding: 24px 16px;
        }

        &__title {
            margin-top: 24px;
        }

        &__temperature {
            margin-top: 12px;
            font-size: 36px;
        }

        &__window {
            min-height: unset;
        }

        &__content {
            &--message {
                margin-top: 32px;
                gap: 12px;
            }
        }
    }
}